#section4{
  .col-md-4{
    padding-right: 63px;
    img{
      width: 100%;
    }
  }
  .col-md-8{
    padding-left: 63px;
    .headerText{
      font-family: "Montserrat", sans-serif;
      font-size: 36px;
      line-height: 54px;
      letter-spacing: -1%;
      color: #192252;
    }
    .bodyText{
      font-family: "Inter", sans-serif;
      font-size: 18px;
      line-height: 27px;
      color: #848FAC;
    }
  }
}